<footer class="d-flex justify-content-between paragraphe" style="text-align: left; margin-top: 1%; margin-left: 1%; background-color: #263240;
color: white;">
    <div class="col-3">
        <p><strong>À propos</strong></p>
        <a href="">Qui sommes-nous</a>
        <a href="">Recherches</a>
        <a href="">Article de blog</a>
    </div>
    <div class="col-3">
        <p><strong>Produits</strong></p>
        <a href="">Nutrition astACTIV</a>
        <a href="">it’Swiss Skin Care</a>
    </div>
    <div class="col-3">
        <p><strong>Service client</strong></p>
        <a href="">Suivi des commandes</a>
        <a href="">Termes & conditions</a>
        <a href="">Livraison</a>
        <a href="">FAQ</a>
        <a href="">Contrats</a>
    </div>
    <div class="col-3">
        <p><strong>Retrouvez-nous</strong></p>
        <a href="https://www.instagram.com/astaswiss/?igsh=d295NHd3aXUzd2Ex" target="_blank"
            style="text-decoration: none;"><i class="bi bi-instagram"></i>
            astaswiss</a>
        <p><strong>Email</strong></p>
        <p>contact@astaswiss.ch</p>
        <p>welcome@eternacare.ch</p>
    </div>
</footer>
