<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>

<body class="background paragraphe">
    <app-navbar (cartIconClick)="toggleSidePanel()"></app-navbar>
    <div class="background-img py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center mb-5">
                                    <a href="#!">
                                        <img src="../../assets/img/logo/Full_logo/Royalblue_LOGO_202404001Fichier 8.png"
                                            width="30%">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                            <ng-container *ngIf="user && !isEditing">
                                <h2 class="title text-center">Mes données</h2>
                                <div class="row gy-3 gy-md-4 overflow-hidden">
                                    <div class="col-12">
                                        <label class="important">Prénom</label>
                                        <p>{{ user.prenom }}</p>
                                    </div>
                                    <div class="col-12">
                                        <label class="important">Nom </label>
                                        <p>{{ user.nom }}</p>
                                    </div>
                                    <div class="col-12">
                                        <label class="important">Adresse</label>
                                        <p>{{ user.adresse }}</p>
                                    </div>
                                    <div class="col-12">
                                        <label class="important">E-mail</label>
                                        <p>{{ user.email }}</p>
                                    </div>
                                    <div class="col-12">
                                        <label class="important">Téléphone</label>
                                        <p>{{ user.telephone }}</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn-blue" (click)="editUser()">Modifier mes données</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="user && isEditing">
                                <h2 class="title text-center">Mes données</h2>
                                <div class="row gy-3 gy-md-4 overflow-hidden">
                                    <div class="col-12">
                                        <label for="prenom" class="form-label">Prénom <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="prenom" id="prenom"
                                            required>
                                        <span *ngIf="prenom && shouldShowError(prenom)" class="text-danger">
                                            <ng-container *ngIf="prenom.errors?.['required']">Le prénom est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="nom" class="form-label">Nom <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="nom" id="nom" required>
                                        <span *ngIf="nom && shouldShowError(nom)" class="text-danger">
                                            <ng-container *ngIf="nom.errors?.['required']">Le nom est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="adresse" class="form-label">Adresse <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="adresse" id="adresse"
                                            required>
                                        <span *ngIf="adresse && shouldShowError(adresse)" class="text-danger">
                                            <ng-container *ngIf="adresse.errors?.['required']">L'adresse est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="email" class="form-label">E-mail <span
                                                class="text-danger">*</span></label>
                                        <input type="email" class="form-control" formControlName="email" id="email"
                                            readonly>
                                    </div>
                                    <div class="col-12">
                                        <label for="telephone" class="form-label">Téléphone (optionnel)</label>
                                        <input type="tel" class="form-control" formControlName="telephone"
                                            id="telephone" inputmode="tel" (keypress)="validatePhoneInput($event)">
                                        <span *ngIf="telephone && shouldShowError(telephone)" class="text-danger">
                                            <ng-container *ngIf="telephone.errors?.['pattern']">Le téléphone doit
                                                contenir
                                                seulement des chiffres et le symbole +.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn-blue mx-2" type="submit">GARDER</button>
                                            <button class="btn-cancel mx-2" (click)="editUser()">ANNULER</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!user">
                                <div class="row gy-3 gy-md-4 overflow-hidden">
                                    <div class="col-12">
                                        <label for="prenom" class="form-label">Prénom <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="prenom" id="prenom"
                                            required>
                                        <span *ngIf="prenom && shouldShowError(prenom)" class="text-danger">
                                            <ng-container *ngIf="prenom.errors?.['required']">Le prénom est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="nom" class="form-label">Nom <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="nom" id="nom" required>
                                        <span *ngIf="nom && shouldShowError(nom)" class="text-danger">
                                            <ng-container *ngIf="nom.errors?.['required']">Le nom est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="adresse" class="form-label">Adresse <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="adresse" id="adresse"
                                            required>
                                        <span *ngIf="adresse && shouldShowError(adresse)" class="text-danger">
                                            <ng-container *ngIf="adresse.errors?.['required']">L'adresse est
                                                obligatoire.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="email" class="form-label">E-mail <span
                                                class="text-danger">*</span></label>
                                        <input type="email" class="form-control" formControlName="email" id="email"
                                            required>
                                        <span *ngIf="email && shouldShowError(email)" class="text-danger">
                                            <ng-container *ngIf="email.errors?.['required']">L'e-mail est
                                                obligatoire.</ng-container>
                                            <ng-container *ngIf="email.errors?.['email']">L'e-mail n'est pas
                                                valide.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="password" class="form-label">Mot de passe <span
                                                class="text-danger">*</span></label>
                                        <input type="password" class="form-control" formControlName="password"
                                            id="password" required>
                                        <span *ngIf="password && shouldShowError(password)" class="text-danger">
                                            <ng-container *ngIf="password.errors?.['required']">Le mot de passe est
                                                obligatoire.</ng-container>
                                            <ng-container *ngIf="password.errors?.['minlength']">Le mot de passe doit
                                                contenir au moins 6 caractères.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <label for="telephone" class="form-label">Téléphone (optionnel)</label>
                                        <input type="tel" class="form-control" formControlName="telephone"
                                            id="telephone" inputmode="tel" (keypress)="validatePhoneInput($event)">
                                        <span *ngIf="telephone && shouldShowError(telephone)" class="text-danger">
                                            <ng-container *ngIf="telephone.errors?.['pattern']">Le téléphone doit
                                                contenir
                                                seulement des chiffres et le symbole +.</ng-container>
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn-blue" type="submit">S'INSCRIRE</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </form>
                        <ng-container *ngIf="!user">
                            <div class="row">
                                <div class="col-12">
                                    <hr class="mt-5 mb-4 border-secondary-subtle">
                                    <div
                                        class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center">
                                        <a routerLink="/login" class="link-secondary text-decoration-none">Déjà un
                                            compte? Se connecter</a>
                                    </div>
                                    <div class="link-secondary text-center" style="margin-top: 2%;">
                                        <p>ou</p>
                                    </div>
                                    <div
                                        class="col-12 d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center">
                                        <button class="btn-blue" (click)="loginWithGoogle()">
                                            <i class="bi bi-google"></i> Continuer avec Google
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <app-side-panel [isOpen]="isSidePanelOpen" (closePanel)="closeSidePanel()"
        (openPanel)="toggleSidePanel()"></app-side-panel>
</body>

</html>