.background{
    background-color: #263240;
}

footer {
    background-color: #263240;
    color: white;
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
footer .contact-info, footer .social-media {
    margin-left: auto;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    margin-bottom: 10px;
}
.normal-font {
    font-weight: normal;
}

.btn-blue {
    background-color: #263240;
    color: white;
    border: 2px solid white; 
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: border-color 0.3s; 
}


.btn-blue:hover {
    background-color: white; 
    color:  #263240;
    border-color:  #263240; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-cancel {
    background-color: white;
    color: #263240;
    border: none;
    border-bottom: 2px solid #263240;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
}

.btn-cancel:hover {
    background-color: #E8E8E8; 
}


.paragraphe{
    font-family: 'Century Gothic';
    font-size: 12pt;
}

.paragraphe{
    font-family: 'Century Gothic';
    font-size: 12pt;
}

.important{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 12pt;
}

.tittle{
    font-family: 'Century Gothic';
    font-size: 21pt;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.left-panel {
    width: 60%;
    overflow-y: auto;
    padding: 20px;
}

.right-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
        height: auto;
    }

    .right-panel {
        order: -1;
        padding: 10px;
    }

    .left-panel {
        padding: 10px;
    }
}

/* CSS */

.card {
    width: 100%;
}

.card-body {
    display: flex;
    align-items: center;
}

.card-body img {
    margin-right: 10px;
}

.form-control {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}




