.container-1{
    background-image: url('../../assets/img/images/ai-generated-8674655.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    text-align: center;
    margin-top: 3.9%;
}

.container-2{
    background-image: url('../../assets/img/images/flamingo-4497673.jpg');
    background-size: cover;
    background-position: bottom;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-3{
    background-image: url('../../assets/img/images/ai-generated-8686158.jpg');
    background-size: cover;
    background-position: top;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    height: 600px;
}
.container img {
    width: 50%;
    height: auto;
}
.container.background-orange {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.container.background-orange img {
    margin: 0 auto; /* Centra horizontalmente */
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 60%; 
    height: 50%;
    max-width: 350px; 
    color: white;
}

.text-overlay h1, .text-overlay p {
    margin: 0; 
}

@media (max-width: 767px) {
    .text-overlay {
        display: none; 
    }
}

.accordionRigth {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 60%; 
    height: 50%;
    max-width: 350px; 
    color: #252525;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #263240;
    color: white;
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
footer .contact-info, footer .social-media {
    margin-left: auto;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    margin-bottom: 10px;
}
.normal-font {
    font-weight: normal;
}

.background-orange {
    background-color: #f5793b;
    color: white;
}

.background-orange-opacity {
    background-color: #f5793b;
    opacity: 0.85;
    color: white;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.527);
}

.background {
    background-color: #263240;
    color: white;
    overflow-x: hidden;
}

.accordion-button {
    position: relative;
}
.tittle{
    font-family: 'Century Gothic';
    font-size: 21pt;
    font-weight: bold;
}
.big-tittle{
    font-family: 'Gill Sans MT';
    font-size: 32pt;
    font-weight: bold;
    font-style: italic;
}

.paragraphe{
    font-family: 'Century Gothic';
    font-size: 12pt;
}

.important{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 12pt;
}

.cursiva{
    font-family: 'Century Gothic';
    font-style: italic;
    font-size: 12pt;
}

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.col-3 a {
    color: white; /* Cambia el color de los enlaces a negro */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Convierte los enlaces en bloques para que se alineen verticalmente */
    margin-bottom: 5px; /* Agrega un espacio entre cada enlace */
}

html {
    scroll-behavior: smooth;
  }
  